<div class="content-top clearfix">
  <h1 class="al-title" translate>{{ currentPageTitle }}</h1>

  <!--<ul class="breadcrumb al-breadcrumb" *ngIf="subPage">-->
    <!--&lt;!&ndash;<li class="breadcrumb-item">&ndash;&gt;-->
      <!--&lt;!&ndash;<a routerLink="" translate>{{'general.home'}}</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--<li class="breadcrumb-item">-->
      <!--<a (click)="clicked()" translate>{{ activePageTitle }}</a>-->
    <!--</li>-->
    <!--<li class="breadcrumb-item active" translate>{{ currentPageTitle }}</li>-->
  <!--</ul>-->
</div>
